@model BoysCoffe.Models.Cart
<h2>Your Cart</h2>
@foreach (var item in Model.CartItems)
{
    <p>@item.Product.Name - Quantity: @item.Quantity - Price: @item.Price</p>
}
<p>Total: @Model.CartItems.Sum(item => item.TotalPrice)</p>
<a href="@Url.Action("Index", "Checkout")" class="btn btn-primary">Checkout</a>
